.countrie{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 5px;
    background-color: cyan;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.countrie-flag{
    width: 100%;
    height: 100px;
}
.countrie-flag>img{
    width: 290px;
    height: 150px;
}
.countrie-info{
    display: flex;
    flex-direction: column;
}